<form method="post" action="/change_limit">
  <div>
    <label for="new_limit">Change your limit:
      <input id="new_limit" name="new_limit" maxlength="6" />
    </label>
  </div>

  <button type="submit">Submit</button>
</form>
