<h1>Add a new expense</h1>

<div>
  <h3>Valid Categories:</h3>
  <ol>
    <% session[:categories].each do | category| %>
      <li><%= category %></li>
    <% end %>
  </ol>
</div>

<form method="post" action="/new/expense">
  <div>
    <label for="name">Name:
      <input id="name" name="name" placeholder="Enter name of expense" />
    </label>
  </div>
  
  <div>
    <label for="amount">Amount:
      <input id="amount" name="amount" placeholder="$" />
    </label>
  </div>

  <div>
    <label for="category">Category:
      <input id="category" name="category" placeholder="Select: 1, 2, 3..." />
    </label>
  </div>

  <button type="submit">Add Expense</button>
</form>

<div>
  <h3>Add new category:</h3>
  <form method="post" action="/new/category">

    <div>
      <label for="category">Name:
        <input id="category" name="category" placeholder="ex. rent">
      </label>
    </div>

    <button type="submit">Add Category</button>

  </form>
</div>

<div>
  <p><a href="/">Main Page</a></p>
</div>