<h1>Add a new expense</h1>

<div>
  <h3>Valid Categories:</h3>
  <ol>
    <% session[:categories].each do | category| %>
      <li><%= category %></li>
    <% end %>
  </ol>
</div>

<form method="post" action="/new">
  <div>
    <label for="name">Name:
      <input id="name" name="name" placeholder="Enter name of expense" />
    </label>
  </div>
  
  <div>
    <label for="amount">Amount:
      <input id="amount" name="amount" placeholder="$" />
    </label>
  </div>

  <div>
    <label for="category">Category:
      <input id="category" name="category" placeholder="Select: 1, 2, 3, or 4" />
    </label>
  </div>

  <button type="submit">Add Expense</button>
</form>

<div>